body 
{
	background: #4D505B;
    margin-left: auto;
	margin-right: auto;
}

.nav-container{background: #F4AC42 repeat-x 0 0; width: 100%; font-size: 18px;
               vertical-align: text-top;}
	.f-nav{background: #F4AC42 repeat-x 0 0; display: inline-block;   z-index: 9999;
	       position: fixed; left: 0; top: 0;} /* this make our menu fixed top */
	
.nav { height: 32px;}
	.nav ul { list-style: none; text-align: center;}
	.nav ul li{padding-left: 5%; padding-right: 5%; border-left: 3px solid #16A79D; 
			   display: inline; width: 15%; font-family: 'Abel'; font-size: 2vw;}
	.nav ul li:first-child{}
	.nav ul li:last-child{border-right: 3px solid #16A79D;}
	.nav ul li a {color: inherit; text-decoration: none;}
	.nav ul li a:hover{font-weight: bold;}

div
{
	padding-top: .05%;
	padding-bottom: 1.2%;
}

.empty {
	padding: 0%;
}

.circular {
	width: 300px;
	height: 300px;
	margin: 5% auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(professionalpic.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.circular:hover {
	background: url(profilepic.jpg) no-repeat;
	-webkit-box-shadow: 0 0 32px rgba(206, 72, 88, .95);
	-moz-box-shadow: 0 0 32px rgba(206, 72, 88, .95);
};