body 
{
	background-image: url('mountains.png');
	width: 1200px;
    margin-left: auto;
	margin-right: auto;
}


div
{
	background-image: url('textback.png'); 
	position: :relative;
	padding: 15px;
	margin: 10px;
	font-family: "Courier New";
}

h1
{
	font-variant: small-caps;
	text-align: center;
	font-size: 40px;
}

h2
{
	font-variant: small-caps;
	text-align: center;
	font-size: 32px;
}

h3
{
	font-variant: small-caps;
	margin: 0px;
	text-align: left;
	font-weight: bold;
	font-size: 20px;

}

h4
{
	font-variant: small-caps;
	margin: 0px;
	text-align: left;
	text-indent: 10px;
	font-size: 16px;
}


ul 
{
	list-style-position: inside;
	text-indent: 50px;
	color:Bisque;
}

.floatright
{
	float: right;
}


p
{
	color: Bisque;
}

.leftsquare
{
	background-image: url('square.png');
    width: 237px;
    height: 100px;
    float: left;

}

.rightsquare
{
	background-image: url('square.png');
	width: 237px;
	height: 100px;
	float: right;
}

a 
{
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	width: 200px;
	height: 100px;
}

img
{
	background-image: url('grayback.png');
	width: 600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}